{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Kontragents</title>
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static './css/forms.css' %}" />
<!-- Forms Section -->
<div class="section-wrapper">
  <section class="forms" id="forms">
    <div class="container-fluid px-2 px-md-5">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}




          <button type="submit">Yuborish</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}