<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="min-height: 89vh; display: flex; align-items: center; justify-content: center;">
        <div class="wrapper">
            <center>
                <h1>Siz akkountdan chiqdingiz</h1>
                <h4><a href="{% url 'accounts:login' %}">kirish</a></h4>
            </center>
        </div>
    </div>
     
</body>
</html>
